{
  "presets": [
    ["babel-preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}